<section class="page-header">
  <h1 class="project-name"><%= data.project.name %></h1>
  <h2 class="project-tagline"><%= data.project.tagline %></h2>
  <%= link_to "View on Github", data.project.repository_url, class: "btn" %>
</section>

<section class="main-content">
  <h3><a id="welcome" class="anchor" href="#welcome" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to <%= data.project.name %></h3>

  <p><%= data.project.name %> helps to massively reduce energy consumption by sending text messages to State of CA employees.  The text messages contain actionable energy conservation measures to do <strong>for 1 hour.</strong> 

 
<section align="center"><iframe src="//www.slideshare.net/slideshow/embed_code/key/DGcHapHfqt71rc" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe></section>  

  <section class="terminology">
    <%= partial "terminology" %>
  </section>

  <section>
    <%= partial "bldg_table" %>
  </section>
      
  <%= partial "footer" %>
</section>